
div.facemaincontainer {
    padding-left: 20px;
    padding-top: 20px;

    /*border: 1px solid #666666;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.facecontainer {
    overflow: hidden;
    background-color: #CCC;
}

div.facecontainer  img {
    max-width : none;
}

/*#winner .facecontainer {
    border: 10px solid #666666;
}*/

.confirmed{
            color: white;
            border-radius: 4px;
            border: 5px solid green;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.badpicture{
            color: white;
            border-radius: 4px;
            border: 5px solid red;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.notdisplayed {
	display:none;
}

.spacer, .minispacer {
	display: inline-block;
	height: 14px;
	min-width: 12px;
}

.minispacer {
	display: inline-block;
	height: 14px;
	min-width: 3px;
}

.tag-NOTTAGGED {
	background-color: #afafaf;
}

.tag-sexy {
	background-color: violet;
}

.tag-vulgar {
	background-color: black;
}

.tag-not_natural {
	background-color: red;
}

.score-text {
	font-weight: bold;
}


.facemaincontainer [class^="icon-"]:hover,
.facemaincontainer [class^="icon-"]:focus,
.facemaincontainer [class^="icon-"]:hover {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.tag-vulgar.facemaincontainer [class^="icon-"] {
	background-image: url("../img/glyphicons-halflings-white.png");
}
.tag-vulgar.facemaincontainer {
	color: white;
}

.icon-fullscreen, .icon-tags, .icon-star {
	cursor: pointer;
}

.texture {
	min-width: 10px;
	min-height: 10px;
	display: inline-block;
}

.facemaincontainer li a span {
	margin-right: 10px;
}

.face-img {
	cursor: pointer;
}

.face-img:hover {
	opacity: .7;
}

.btndiv {
	text-align: center;
}

.btndiv * {
	text-align: left;
}